@model shareDoor.Models.House
@{
    ViewBag.Title = "AdDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <div class="card text-white bg-primary mb-3">
        <div class="card-body">

            <div class="row">
                <div class="col-4 text-center">
                    @if (Model.User.UserPhotos.Any(y => y.IsMain == true))
                    {
                        <img class="" src="@Model.User.UserPhotos.FirstOrDefault(y=>y.IsMain == true).Url" height="250px" width="90%" />
                    }
                    else
                    {
                        <img class="" src="https://res.cloudinary.com/dmizwj8w8/image/upload/v1556883161/wheckiv5kur0dsjnxynr.jpg" height="250px" width="90%" />
                    }

                </div>
                <div class="col-4">
                    <p>
                        <strong>Ψευδώνυμο:</strong> @Model.User.NickName
                    </p>
                    <p>
                        <strong>Email:</strong> @Model.User.Email
                    </p>
                    <p>
                        <strong>Φύλο: </strong> @shareDoor.Helpers.TextManager.GetGender(Model.User.Gender)
                    </p>
                    <p>
                        <strong>Καπνιστής: </strong> @shareDoor.Helpers.TextManager.GetSmoker(Model.User.Smoker)
                    </p>
                    <p>
                        <strong>Κατοικίδια: </strong>@shareDoor.Helpers.TextManager.GetPet(Model.User.Pets)
                    </p>
                    <p>

                        <strong>Ηλικία: </strong> @(shareDoor.Helpers.TextManager.CalculateAge(Model.User.DateOfBirth.Value) == -1 ? "Άγνωστο" : shareDoor.Helpers.TextManager.CalculateAge(Model.User.DateOfBirth.Value).ToString())
                    </p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" data-user-id="@Model.User.Id" id="liveChat2">
                        Live Chat
                        <img src="https://image.flaticon.com/icons/svg/174/174247.svg" height="30px" />
                    </a>

                </div>
                <div class="col-4" style="max-height:30vh; overflow-y:auto">
                    <div class="row">
                        @foreach (var img in Model.User.UserPhotos)
                        {
                            <div class="col-4 mb-2">
                                <img src="@img.Url" class="img-fluid rounded-circle" style="height:80px" />
                            </div>
                        }
                    </div>
                </div>
            </div>
            <h4 class="card-title">Primary card title</h4>

        </div>
    </div>

    <div class="card border-primary mb-3">
        <div class="card-header">
            Πληροφορίες Αγγελίας
            <span class="float-right">

                <strong class="text-black-50">Ημ/νία καταχώρησης: </strong>
                @Model.Created

            </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6" style="border-right:1px solid black">
                    @if (Model.HousePhotos.Any(y => y.IsMain == true))
                    {
                        <img style="height: 350px; width: 100%;" src="@Model.HousePhotos.FirstOrDefault(y=>y.IsMain==true).Url" alt="Card image" id="imgValue">
                    }
                    else
                    {
                        <img style="height: 350px; width: 100%;" src="https://cdn.tutsplus.com/psd/uploads/legacy/325_House_Icon/43.jpg" alt="Card image">
                    }

                    <div class="card-body">
                        <div class="row">
                            @foreach (var img in Model.HousePhotos)
                            {
                                <div class="col-4">

                                    <img class="mb-2 img-fluid imgChange" src="@img.Url" style="height:80px; cursor:pointer" />
                                </div>

                            }
                        </div>
                    </div>
                </div>
                <div class="col-6 details position-relative">
                    <div class="row">
                        <div class="col-6" style="border-right:1px solid grey">
                            <p>
                                <strong>Νομός: </strong>
                                @Model.State.Name
                            </p>
                            <p>
                                <strong>Περιοχή: </strong>
                                @Model.Area.Name
                            </p>
                            <p>
                                <strong>Οδός: </strong>
                                @Model.Address
                            </p>
                            <p>
                                <strong>Τ.Κ.: </strong>
                                @Model.PostalCode
                            </p>
                            <p>
                                <strong>Όροφος: </strong>
                                @Model.Level
                            </p>
                            <p>
                                <strong>Δωμάτια: </strong>
                                @Model.TotalRooms
                            </p>

                        </div>
                        <div class="col-6">
                            <p>
                                <strong>Μηνιαίο κόστος: </strong>
                                @Model.RentCost
                            </p>
                            <p>
                                <strong>Τετραγωνικά μέτρα: </strong>
                                @Model.SquareMeters
                            </p>

                            <p>
                                <strong>Κάπνισμα: </strong>
                                @Model.Smoker
                            </p>
                            <p>
                                <strong>Κατοικίδια: </strong>
                                @Model.Pets
                            </p>
                            <p>
                                <strong>Επιθυμητό Φύλο: </strong>
                                @Model.Gender
                            </p>
                            <p>
                                <strong>Ημ/νία Κατασκευής: </strong>
                                @Model.YearConstruct
                            </p>
                        </div>
                    </div>
                    <hr />
                    <div class=" text-left p-0 position-relative">
                        <h5 class="text-muted position-absolute" style="top: 130px; left:17%">Πάτα εδώ να δείς το σπίτι στον χάρτη!</h5>
                        <a href=@shareDoor.Helpers.TextManager.MapUrl(Model.Address,Model.PostalCode, Model.Area.Name)> <img class="" style="z-index:50" src="~/Images/mapStreet.jpg" height="200px" width="100%" /></a>

                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

@section styles{
    <style>
        strong {
            color: yellow;
        }

        .details strong {
            color: black !important;
        }
    </style>

}

@section scripts{
    <script  type="text/javascript">


        $(document).ready(function () {

            $(document).on("click", ".imgChange", function () {
                var temp = $(this).attr("src");
                $('#imgValue').attr('src', temp);

            })



            //var liveChat = $('#liveChat2');
            //liveChat.click(function () {
            //    var userId = liveChat.attr("data-user-id");
            //    $('#chatUsers div').html('');
            //    $('#chatUsers').html('');
            //    $.post("/api/users", { Id: userId })
            //        .done(function (res) {
            //            $('#chatUsers div').html('');
            //            $('#chatUsers').html('');
            //            $.each(res, function (index, value) {

            //                console.log(value)
            //                $('#chatUsers').append(`<div class="card-header userForChat" style="cursor:pointer" data-user-value="${value}">
            //                                                        <img src="https://image.flaticon.com/icons/svg/149/149071.svg" height="30px" />
            //                                                        ${value}
            //                                                    </div>`)

            //            });
            //        })
            //        .fail(function (error) {
            //            console.log(error)
            //        })

            //})

            //$(document).on("click", ".userForChat", function () {
            //    $('#mainChat div').html('')
            //    var name = $(this).attr('data-user-value');
            //    user = name;

            //    $.post("/api/messages/", { Name: name })

            //        .done(function (res) {
            //            if (res == "") {
            //                $('#mainChat').html('<div class="bg-transparent">Δέν έχετε ανταλλάξει ακόμα μηνύματα !</div>');
            //                return;
            //            }
            //            $('#mainChat div').html('');
            //            $.each(res, function (index, value) {

            //                console.log(value)
            //                $('#mainChat').append(`<div class='alert alert-dismissible alert-secondary'>${value} </div>`).fadeIn('slow');
            //            })
            //            //d.scrollTop(d.prop("scrollHeight"));
            //        })
            //        .fail(function (error) {
            //            console.log(error)
            //        })


            //})

        })
    </script>
}