@model shareDoor.ViewModels.AdFormViewModel
@{
    ViewBag.Title = "AdForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("InsertAd", "Ads", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="container">
    <h2>Εισαγωγή Αγγελίας</h2>
    <div class="alert alert-success" role="alert">Tα πεδία είναι με <span style="font-size:18px;">*</span>  είναι <strong>υποχρεωτικά.</strong> </div>
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-4 justify-content-center">
            <div class="form-group">

                @Html.LabelFor(m => m.StateId)
                @Html.DropDownListFor(m => m.StateId, new SelectList(Model.States, "Id", "Name"), "", new { @class = "form-control get-states" })
                @Html.ValidationMessageFor(m => m.StateId)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AreaId)
                @Html.DropDownListFor(m => m.AreaId, new SelectList(Model.Areas, "Id", "Name"), "", new { @class = "form-control get-areas" })
                @Html.ValidationMessageFor(m => m.AreaId)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address)
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PostalCode)
                @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PostalCode)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Level)
                @Html.EnumDropDownListFor(m => m.Level, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Level)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RentCost)
                @Html.TextBoxFor(m => m.RentCost, new { @class = "form-control" ,type="number"})
                @Html.ValidationMessageFor(m => m.RentCost)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.YearConstruct)
                @Html.TextBoxFor(m => m.YearConstruct, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.YearConstruct)
            </div>
        </div>
        <div class="col-8 justify-content-center">
            <div class="form-group">
                @Html.LabelFor(m => m.TotalRooms)
                @Html.EnumDropDownListFor(m => m.TotalRooms, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TotalRooms)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SquareMeters)
                @Html.TextBoxFor(m => m.SquareMeters, new { @class = "form-control", type = "number", min = "0", max = "200" })
                @Html.ValidationMessageFor(m => m.SquareMeters)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Smoker, "Καπνιστής/ρια")
                <div class="custom-radio">
                    @Html.LabelFor(m => m.Smoker, "Ναι")
                    @Html.RadioButtonFor(m => m.Smoker, "Yes", new { @class = "" })
                    @Html.LabelFor(m => m.Smoker, "Οχι", new { @class = "ml-2" })
                    @Html.RadioButtonFor(m => m.Smoker, "No", new { @class = "" })
                    @Html.LabelFor(m => m.Smoker, "Αδιάφορο", new { @class = "ml-2" })
                    @Html.RadioButtonFor(m => m.Smoker, "Default", new { @class = "", @checked = "" })
                    @Html.ValidationMessageFor(m => m.Smoker)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Pets, "Κατοικίδια")
                <div class="custom-radio">

                    @Html.LabelFor(m => m.Pets, "Ναι")
                    @Html.RadioButtonFor(m => m.Pets, "Yes", new { @class = "" })
                    @Html.LabelFor(m => m.Pets, "Οχι", new { @class = "ml-2" })
                    @Html.RadioButtonFor(m => m.Pets, "No", new { @class = "" })
                    @Html.LabelFor(m => m.Pets, "Αδιάφορο", new { @class = "ml-2" })
                    @Html.RadioButtonFor(m => m.Pets, "Default", new { @class = "", @checked = "" })
                    @Html.ValidationMessageFor(m => m.Pets)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Gender, "Φύλο")
                <div class="custom-radio">
                    @Html.LabelFor(m => m.Gender, "Άνδρας")
                    @Html.RadioButtonFor(m => m.Gender, "Male", new { @class = "" })
                    @Html.LabelFor(m => m.Gender, "Γυναίκα", new { @class = "ml-2" })
                    @Html.RadioButtonFor(m => m.Gender, "Female", new { @class = "" })
                    @Html.LabelFor(m => m.Gender, "Αδιάφορο", new { @class = "ml-2" })
                    @Html.RadioButtonFor(m => m.Gender, "Default", new { @class = "", @checked = "" })
                    @Html.ValidationMessageFor(m => m.Gender)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "6", cols = "50" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
            @Html.LabelFor(m => m.Files, "Φωτογραφίες")
            @Html.TextBoxFor(m => m.Files, new { type = "file", @multiple = "multiple" })

        </div>

    
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
</div>
}
@section scripts {
    <script>
        $(document).ready(function () {
            $(".get-states").change(function (e) {
                var Id = $(e.target).val()

                $.ajax({
                    url: "/api/ads/" + Id,
                })
                    .done(function (res) {
                        $(".get-areas").empty();
                        for (var i = 0; i < res.length; i++) {
                            $(".get-areas").append(`<option value='${res[i].Id}'>` + res[i].Name + "</option>");
                        }

                    })
                    .fail(function () {

                    })
            })

        })


    </script>
}

@section styles{
    <style>
        .form-group>label{
            font-weight:bold;
        }
    </style>
    }